*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    border: 0;
    margin: 0;
    padding: 0;
    }

body, button, input, select, table, textarea {
    font-family: 'Lato','Helvetica Neue',Arial,sans-serif;
    color: #636363;
    font-size: 14px;
    line-height: 1.5;
    }

body.header {
    width:100%;
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
    background-color:#BBC7CD;
    font-size:10pt;
    }

.page-header {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
    background-color:#BBC7CD;
    }

.header-wrapper {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 20px;
    background-color:#BBC7CD;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    }


.header-wrapper h1 {
    display: inline-block;
    margin: 0 20px;
}



/* .breadcrumbs a {
    float: left;
    color: #32AFFF;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}
*/
ul.breadcrumbs {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

/* .breadcrumbs li {
    float: left;
    font-size: 14px;
    text-transform: uppercase;
    } */


/* ================================================================
PAGE LAYOUT
 ================================================================ */

 .breadcrumbs {
    display:flex;
    margin: 30px auto 60px;
    padding: 0 30px;
    overflow: hidden;
    color: #32AFFF;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    list-style: none;
}

 div.container {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
 }

 div.column {
    
 }

/* ==== 
NAVIGATION COLUMN
 ==== */



/* ==== 
MAIN CONTENT COLUMN with DIAGRAM
 ==== */

div.column.menu {
    margin-left: 20px;
    padding: 50px 2px;
}

div.column.main {
    margin: 0px;
    padding: 0px;
}

div.col-main {
    margin: 0px;
    padding: 0px;
}

div.diagram-container {
    margin: 0 auto;
    padding: 0 30px;
    border: 2px solid lightgray;
    /* background-color: lightgray; */
}

.diagram-container h1 {
    display: block;
    margin-bottom: 10px;
}

div.diagram-wrapper {
    position: relative;
    /* position: absolute; */
    margin: 0 0 90px;
    padding: 0px;
    max-width: 100%;
    }

img#image-map {
    position: relative;
    left: 0%;
    top: 0px;
    width: 100%;
    height: auto;

    /* max-width: 100%;  */
    /* margin: 20px 0; */
    margin-bottom: 20px;
    padding: 0;
    }

div.overlay-wrapper {
    position: absolute;
    left: 0px;
    top: 0px;
}

div.overlay {
    position: absolute;
    width:70px;
    height:70px; 
    overflow: visible;
    border-radius:50%;
    /* border: 2px solid lightgray; */
}

div.overlay:hover {
    background-color: rgba(255,0,0,0.5);
}

/* tool tip displayed on hover */
div.overlay-text {
    position: relative;
    display: block;
    width: max-content;
    max-width: 500px;
    margin: -30px;
    background-color: white;
    border: 2 solid lightgray;
    box-shadow: 1px 2px 5px #d2d3d3;
}


/* ================================================================
TABLES
=================================================================== */
/* 
parts list table &
Part popup table
*/

div.partslist-wrapper {
    margin: 10,0;
}

div#table-partslist {
    position: relative;
    padding-top: 10px;
    /* left: 10%; */
}

table {
    border: 1px solid black;
    }
    
th {
    background-color: lightgray;
    }

td {
    padding: 5px;
    }

tr.selected {
    background-color: yellow;
    }

/* ================================================================
POPUP PART TABLE
=================================================================== */
div.popup-wrapper {
    position: absolute;
    left: 10%;
    top: 50%;
    padding: 20px;
    margin-left: 40px;
    /* width: 100%; */
    z-index: 2000;
    border: 1px solid #CCCCCC;
    box-shadow: 1px 2px 5px #d2d3d3;
    background-color: #FFF;
    /* transform: translateY(-50%); */
    display: none;
}

a.close-popup {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    padding-right: 2px;
    color: #838d97;
    font-family: 'Lato','Helvetica Neue',Arial,sans-serif;
    text-decoration: none;
    z-index: 5;
    background-color: white;
    font-size: 15px;
    }

.icon-close:before {
    content: "\2715";
    }
  
a.close-popup:hover {
    color: #004E95 !important;
    text-decoration: none !important;
    }

.popup-table {
    /* display: block; */
    max-height: 400px;
    overflow-y: auto;
    box-sizing: border-box;
    clear: left;
    }


/* ================================================================
Menu
=================================================================== */
.menu h3{
    display: block;
    font-size: 30px;
    width: 100%;
    padding-top: 15px;
    margin-bottom: 0px;
    font-weight: 700;
    font-family: 'Lato',Helvetica,Arial,sans-serif;
    font-style: normal;
}    

.menu ul {
    list-style: none none;
    padding-inline-start: 1em;
    margin-top: 0px;
}

.menu li {
    /* padding-right: 20px; */

    padding-left: 12px;
    border-bottom: 1px solid #e0e0e0;
    width: 200px;

}

a.menu-item {
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

a.menu-item, span.menu-item {
    display: block;
    font-size: 23px;
    cursor: pointer;
    font-weight: 700;
    font-family: 'Lato',Helvetica,Arial,sans-serif;
    font-style: normal;
}

a.menu-item:hover {
    color: #004e95;
    background-color: #f9f9f9;
}

a.menu-item:active {
    color: #135d96;
    text-decoration: none;
    background-color: lightskyblue;
}